html {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2 {
    color: #fff;
}

p {
  background-color: #DADCE3;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }
