html {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header {
  padding: 60px;
  text-align: center;
  background: #DADCE3;
  color: white;
  font-size: 30px;
}

h1 {
  font-size: 5rem;
}

h1, h2 {
  color: #fff;
}

main p {
  background-color: #DADCE3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
