html {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

header {
  background: #4D2773;
  background-image: url(../images/banner-truffles.jpg);
  width: 100vw;
  height: 20em;
  display: block;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4 1fr);
  position: relative;
}

.intro {
  text-align: center;
  grid-column: 1 / -1;
  max-width: 576px;
  margin: 0 auto 3em;
}

nav {
  grid-column: 3;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
}

.spread {
  background-color: #4D2773;
  color: #fff;
  padding: 1.5em;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.div {
display: block;
background: #DADCE3;
background-size: cover;
background-position: center;
}

.logo {
  position: absolute;
  bottom: -4em;
  left: 50%;
  transform: translateX(-50%);
  max-width: 150px;
}

a:hover {
  color: #4D2773;
}

h1 {
  font-size: 4.5em;
  color: #fff;
  text-align: center;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0;
}

.spread {
  color: white;
  font-size: 2em;
}

.arlene-with-spoons {
  display: grid;
  grid-template-columns: 2;
  grid-column: 2;
  max-width: 370px;
  margin-left: 0;
}

main p {
  margin: 1.5;
  background-color: #DADCE3;
  display: block;
  columns: 2;
  padding: 1.5em;
}

footer {
  background-color: #DADCE3;
}
